/*
 - Discord Bot Core developed by Blocks_n_more
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap");
body {
  background-color: #2C2F33;
  color: white;
  font-family: "Montserrat";
}
img{
  max-width: 100px;
  max-height: 100px;
  border-radius: 60px;
  margin-right: 10px;
  line-height: 150%;
}
div{
  display: inline-block;
  vertical-align:top;
  padding: 10px;
}
.msg{
  width: 99%;
}
.text{
  float: left;
}
/* Header stuff */
.header1{
  background-color:#222427;
  width: 99%;
}
.header2{
  float:left;
}
